body {
	padding: 0;
	margin: 0;
	background: #fff url(../images/top-divider.png) top left repeat-x;
	color: #000;
	font-size: 13px;
	font-family: 'Bitstream Vera Sans', 'DejaVu Sans' 'Lucida Sans', 'Verdana', 'Calibri', 'Tahoma', sans-serif;
}

a {
	text-decoration: underline;
	color: #333;
	background: inherit;
}

a:hover {
	color: #000;
}

a img {
	border: 0px !important;
}

h1 {
	display: none;
}

input[type=text], input[type=password], textarea, select {
	color: #343434;
	border-top: 1px solid #848484;
	border-left: 1px solid #848484;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	padding: 2px;
	margin: 3px;
	background: #fff url(../images/input-bg.png) top left repeat-x;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {
	outline: 1px solid #0063dc;
}

input[type=button], input[type=submit], input[type=reset], input[type=file], button {
	color: #000;
	border-bottom: 1px solid #848484;
	border-right: 1px solid #848484;
	border-left: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
	padding: 2px;
	margin: 3px;
	background: #fefefe;
}

input[type=reset] {
	font-size: 9px;
}

input[type=submit] {
	background: #ffe;
}

input[type=button]:focus, input[type=submit]:focus, input[type=reset]:focus, button:focus {
	outline: 1px solid #0063dc;
}

input[type=submit]:focus {
	background: #ffa;
}

form, #page {
	margin: 70px auto 20px auto;
	padding: 10px;
	border: 1px solid #fff;
	outline: 1px solid #bebebe;
	background: #f3f3f3;
}

form.login {
	width: 200px;
}

form.install, #page {
	width: 350px;
}

label {
	clear: both;
	cursor: pointer;
	width: 100%;
	display: block;
	margin: 5px 0 0 0;
}

form.login input[type=text], form.login input[type=password], form.login select {
	width: 185px;
}

form.install input[type=text], #page input[type=text], form.install input[type=password], form.install select {
	width: 335px;
}

form p, #page p {
	text-align: right;
	padding: 0;
	margin: 10px 0 0 0;
}

form img, #page img {
	margin: 0 auto 20px auto;
	display: block;
}

form ul, #page ul {
	list-style: circle outside;
}

.error {
	padding: 5px;
	color: #fff;
	background: #f00;
	margin: 0 auto 10px auto;
	cursor: pointer;
}

.info, .info-info {
	margin: 5px;
	padding: 5px;
}

.info {
	background: #e3e3e3;
	font-size: 10px;
}

.info-info {
/* 	background: #ff8; */
	border: 1px solid #c0c0c0;
	background: #fff;
}

.highlight {
	background: #ffe;
}